
body{
    background: #fff;
    overflow: auto !important;
}
.pane .img{
    height: 160px;
}

h1{
    color: #0064B7;
}

.question-description {
    padding: 0 20px;
    font-size: 12px;
    font-weight: normal;
}

ul.panes {
    list-style: none;
    padding: 0;
}

ul.panes li.pane{
    margin-bottom: 10px;
}