
{% extends "base.html"%}
{% load staticfiles %}
{% load base_tags %}
{% block content %}
<div class="block">
    <h1 class="h1-title">{% if personal_data.answers.list_18439822_choice == 'Male' %}
        Mr
        {% else %}
        Ms
        {% else %}
        Mr/Ms
    {% endif %} {{personal_data.answers.textfield_18439783}}, {{personal_data.answers.number_18439800}} yrs</h1> <div class="edit-icon"></div>
    {% if request.GET.type == 'complete' %}
    <div class="h3-description">Complete Health Pass</div>
    {% for question in questions %}
    {% if question.answer != 'notgiven' %}


    <div class="row">
        <div class="col-md-12 healthpass-item">
            {{question.content}}
            <i class="answer-{{question.answer}}"></i>
        </div>
    </div>
    {% endif %}
    {% endfor %}


    {% else %}
    <div class="h3-description">27 answers, known conditions:</div>

    <div class="dangerzone">
        {% for question in questions %}
        {% if question.important and question.answer == 'yes' %}
        <div class="row">
            <div class="summary-item">
                {{question.short_title}}
                <div class="plus-icon"></div>
                <div class="information">Some Information</div>
            </div>
        </div>

        {% endif %}
        {%endfor%}
        

    </div>
    <div class="safetyzone">
       {% for question in questions %}
       {% if question.important and question.answer == 'no' %}
       <div class="row">
        <div class="summary-item">
            {{question.short_title}}
            <div class="plus-icon"></div>
            <div class="information">Some Information</div>
        </div>
    </div>

    {% endif %}
    {%endfor%}
</div>

<div class="gpzone">
    <div class="row">

        {% if questions.20.answer == 'no' %}
        <div class="summary-item" style="background:#FFA83F;">
            No Registered GP
        </div>
        {% else %}
        <div class="summary-item" style="background:#01B747;">
            Registered GP
            <div class="plus-icon"></div>
        </div>
        {% endif %}
    </div>
</div>
<div class="healthpath-dosomething">
    <a href="/healthpass?type=complete">EDIT INFO</a>
    <a href="#">EXPORT</a>
</div>
{% endif %}


</div>


{% endblock content %}

{% block content_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script type="text/javascript" src="{% static 'healthpass.js' %}"></script>
{% endblock content_js %}


{% block content_css %}
<link href="{% static 'healthpass.css' %}" rel="stylesheet">

{% endblock content_css %}
